.sidebarOption{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}


.sidebarOption:hover {
    opacity: 0.9; /*adds an extra affect*/
    background-color: #323f69;
}

.sidebarOption__icon{
    padding: 10px;
    font-size: 15px !important;
}

.sidebarOption__hash{
    padding: 10px;
}

.sidebarOption > h3 {
    font-weight: 500;
}
