.App {
    display: block;
}

.top__nav {
    display: block;
    margin-bottom: 40px;
    flex: 1;
}

.top__nav .topnav_item {
    padding: 5px 10px 5px 10px;
    position: relative;
}

.top__nav .float-right {
    float: right;
}
